.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -20rem;
  padding: 0 12.73rem;
  padding-bottom: 5.56rem;
}

.article {
  z-index: 6;
  display: flex;
  gap: 6.33rem;
  max-width: 1462px;
  padding: 5.56rem 0;
}

.articleContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 7.84rem 0 7.78rem 8.34rem;
}

.articleNumber {
  position: absolute;
  top: 60px;
  left: 10px;
  z-index: 1;
}

.subtitle {
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 800;
  letter-spacing: 6px;
  color: var(--color-accent);
  text-transform: uppercase;
}

.text {
  line-height: 1.78rem;
}

.readMore {
  display: flex;
  align-items: center;
  gap: 16px;
  width: fit-content;
  color: var(--color-accent);
}

img {
  width: 30vw;
  object-fit: contain;
}

@media (max-width: 1500px) {
  .container {
    margin-top: -40rem;
  }

  .article {
    flex-direction: column;
    gap: 0;
  }

  .articleContent {
    padding-bottom: 2.5rem;
  }

  img {
    display: flex;
    height: 377px;
    width: 100%;
  }

  .articleContent {
    order: -1;
    padding-left: 0;
    max-width: 566px;
  }

  .articleNumber {
    left: -8.34rem;
  }
}

@media (max-width: 1300px) {
  .container {
    padding: 0 8rem;
  }
}

@media (max-width: 920px) {
}

@media (max-width: 640px) {
  .container {
    padding: 0 2rem;
  }

  .articleNumber {
    left: -6rem;
  }
}
