.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -490px;
    padding: 0 229px;
}

.gradient {
    position: absolute;
    top: -12%;
    left: 0;
    right: 0;
    z-index: 5;
    content: "";
    display: block;
    height: 700px;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 75%);
}

.article {
    z-index: 6;
    display: flex;
    gap: 114px;
    padding: 100px 0;
}

.articleContent {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 141px 0 140px 150px;
}

.articleNumber {
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 1;
}

.subtitle {
    display: flex;
    align-items: center;
    gap: 24px;
    font-weight: 800;
    letter-spacing: 6px;
    color: var(--color-accent);
    text-transform: uppercase;
}

.text {
    line-height: 32px;
}

.readMore {
    display: flex;
    align-items: center;
    gap: 16px;
    width: fit-content;
    color: var(--color-accent);
}