.header {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 64px 80px;
}

.ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
