@font-face {
  font-family: "Chronicle Display";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Chronicle-Display-Semibold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Chronicle Display";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Chronicle-Display-Black.woff2") format("woff2");
  font-display: optional;
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Gilroy-Medium.woff2") format("woff2");
  font-display: optional;
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Gilroy-Bold.woff2") format("woff2");
  font-display: optional;
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-display: optional;
}

:root {
	--color-background: #0B1D26;
	--color-text: #FFFFFF;
	--color-accent: #FBD784;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  background-color: var(--color-background);
  font: 18px 'Gilroy', sans-serif;
  font-weight: 700;
  color: var(--color-text);
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a:hover,
a.active {
  color: var(--color-accent);
  transition: color 0.25s;
}

h1 {
  font: 88px 'Chronicle Display', serif;
  font-weight: 600;
  line-height: 100px;
}

h2 {
  max-width: 550px;
  font: 64px 'Chronicle Display', serif;
  font-weight: 600;
}

h3 {
  font: 24px 'Gilroy', sans-serif;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-accent);
}
